.search-bar{
    margin-top: 20px;
    border: 1px solid;
    width: 44vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-color: gray;
    box-shadow: 1px 1px 7px black;
}

.search-bar input{
    width: 40vw;
    height: 7vh;
    border-radius: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.btn-search{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.rest-container{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

