.rest-card{
    margin-top: 30px;
    width: 250px;
    padding: 5px;
    transition: all 0.3s ease-in-out .1s;
    /* border: 1px solid gray; */
}

.rest-card:hover{
    transform: scaleY(0.98);
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}

.rest-card img{
    width: 250px;
    height: 170px;
    border-radius: 10px;
}

.rest-card p{
    margin-top: 10px;
    line-height: 15px;
}

.card-price{
    display: flex;
    justify-content: space-between;
}

.card-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 20px;
    border-radius: 6px;
    background-color: green;
}

.para{
    overflow: hidden;
    height: 16px;
}

.rating{
    margin-bottom: 8px;
    width: 30px;
    color: white;
    margin-left: 2px;
}